@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-image: url("./images/E1198D24-3C9B-4387-8730-B1328F41D5C5_1_201_a.jpeg");
    background-size: auto;
    
    
} */

body{
    height: 100%;
    
}
